@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    /* background-color: #1A1A1A; */
}

.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-top: 50px;
    height: 25vh;
    padding-left: 20px;
    padding-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 16.5px;
    border-radius: 8px;
    /* background-color: #282828; */
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    color: black;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.profile-id {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: #282828; */
}

.profile-section1 {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    /* background-color: #282828; */
}

.profile-section2 {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    /* background-color: #282828; */
}

.profile-rank,
.profile-rating {
    display: flex;
    flex-direction: column;
    /* background-color: #282828; */
}

.profile-normal-rank,
.profile-normal-rating,
.profile-max-rank,
.profile-max-rating {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    /* background-color: #282828; */
}

.cf_id {
    margin-bottom: 10px;
    /* background-color: #282828; */
    margin-top: 10px;
}