@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    gap: 10px;
}

.nav-title {
    display: flex;
    font-family: 'Poppins', monospace;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 150px;
}

.nav-title-first {
    color: #FFC924;
}

.nav-title-second {
    color: #1F8ACB;
}

.nav-title-third {
    color: #C40E16;
}

.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 150px;
}

.nav-search input {
    height: 50px;
    width: 250px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-bottom: 2px solid black;
    background-color: #EFF1F2;
    outline: none;
    font-family: 'Poppins', monospace;
}

.nav-search svg {
    margin-left: 30px;
    font-size: 30px;
    cursor: pointer;
}