.graph-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph,
.problem-rating-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 910px;
    border-radius: 8px;
    border: 5px solid #12349A;
    font-family: 'JetBrains Mono', monospace;
}

.graph-section {
    height: 100vh;
}